@charset "UTF-8";

html, body { margin: 0px; padding: 0px; }
header, footer { background-color: #20235e; width: 100%; min-width:925px; height: 100px; color: white; text-align: center; }
footer { float: left; }
header h1 { margin: 0px; padding-top: 26px; }
footer p { padding-top: 26px; }
header h1:hover, footer p:hover { cursor: default; }
button { all: unset; }

.text-center { text-align: center; }
.display-none { display: none; }
.opacity { opacity: 0.5; }
.font-weight { font-weight: 700; }
.color-green { color: green; }
.color-red { color: red; }