@charset "UTF-8";

html, body { margin: 0px; padding: 0px; }
header, footer { background-color: #20235e; width: 100%; height: 100px; color: white; text-align: center; }
footer { float: left; }
header h1 { margin: 0px; padding-top: 26px; }
footer p { padding-top: 26px; }
header h1:hover, footer p:hover { cursor: default; }
button { all: unset; }

.text-center { text-align: center; }