@charset "UTF-8";

#login-btn { margin-top: 25px; }
#login-btn:hover, #topic-create-btn:hover, #cert-btn:hover, #nick-cert-btn:hover { cursor: pointer; }
#left-container { float: left; display: inline-block; }
#profile-container { margin: 30px 0px 0px 30px; padding: 20px; border: 1px solid #20235e; width: 222px; height: 100px; }
#topic-container { margin: 30px 0px 0px 30px; padding: 20px; border: 1px solid #20235e; width: 222px; }
#socket-container { position: relative; left: 294px; margin: 30px 0px 30px 30px; width: calc(100% - 354px); min-width: 600px; height: 780px; border: 1px solid #20235e; }

#topic-create-btn { width:222px; height: 49px; background-color: #f20d0d; border-radius: 0px 10px 0px 10px; }
#topic-create-btn span { position: relative; bottom: 5px; font-weight: bold; color: white; }

.topic-plus { position: relative; top: 2px; left: 25px; color: white;}

#channel-list { margin-top: 20px; height: 30px; border-radius: 10px 0px 10px 0px; background-color: #f20d0d; color: white; }
#channel-list span { position: relative; top: 5px; }
#channel-list span:hover { cursor: default; }
#channel { margin-top: 5px; width: 222px; height: 512px; overflow-y: auto; overflow-x: hidden; }
.channel-topic { width: 212px; height: 50px; border: 1px solid #ebebeb; background: linear-gradient(to bottom, #ffffff 40%, #f6f6f6 100%); }
.channel-no, .channel-master { margin-left: 3px; font-size: 11px; }
.channel-title { width: 150px; position: relative; bottom: 3px; left: 3px; font-size: 13px; display: inline-block; }
.channel-btn { position: relative; bottom: 1px; left: 18px; width: 38px; height: 23px; font-size: 14px; background-color: #CC0000; color: white; text-align: center; }
.channel-btn:hover { cursor: pointer; }
#channel::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#channel::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.kakaofont { color: #3c1e1e; font-weight: 700; }
.kakaoform { display: inline-block; padding: 0; color: #3C1E1E; background-color: #FFEB00; border: 1px solid transparent; border-radius: 3px; font-size: 16px; text-align: center; }
.s-kakao-logo { width: 130px; height: 20px; line-height: 20px; }
.s-kakao-logo:hover { cursor: default; }
#logout-form { all: unset; }
#logout-btn { position: relative; left:30px; width: 80px; height: 20px; line-height: 20px; color: black; opacity: 0.7; font-weight: 700; }
#logout-btn:hover { cursor: pointer; color: #0099ec; text-decoration: underline; }

#nickname { font-size: 14px; margin-top: 20px; }
#cert-btn, #nick-cert-btn { font-size: 12px; background-color: #1ac133; border-radius: 4px; color: white; }

#modal { position: absolute; }
#nickname-modal { padding: 10px; width: 210px; height: 50px; border: 1px solid black; background-color: white; border-radius: 5px; }
#nickname-modal input { margin-right: 3px; }
#nickname-modal #nick-cert-btn { font-size: 16px; background-color: #1ac133; border-radius: 4px; color: white; }

#nickname-cancel { position: relative; left: 100px; }
#nickname-cancel:hover { cursor: pointer; opacity: 0.5; transition: 1s; }

#topic-modal { width: 500px; height: 250px; border-radius: 10px; }
.topic-modal-top { padding-top: 15px; width: 500px; height: 75px; background-color: #20235e; border-radius: 10px 10px 0px 0px; text-align: center; }
.topic-modal-middle { width: 500px; height: 100px; background-color: #FFFFFF; }
.topic-modal-bottom { width: 500px; height: 75px; background-color: #20235e; border-radius: 0px 0px 10px 10px; }

#topic-modal span { color: white; font-size: 36px; font-weight: 700; }
#topic-modal button { margin-left: 200px;}
#topic-room { all: unset; width: 200px; font-size: 18px; height: 40px; position: relative; top: calc(50% - 20px); left: calc(50% - 100px); border: 1px solid #c0c0c0; box-sizing: border-box; }
#topic-room:focus { border: 3px solid rgba(93, 163, 255, .5); transition: 0.3s; box-sizing: border-box; }

.button { padding: 16px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; font-weight: 700; margin: 4px 2px; transition-duration: 0.4s; }
.button1 { background-color: white; color: black;  border: 2px solid #20235e; }
.button1:hover { background-color: #20235e; color: white; cursor: pointer;}
.button1:active { border: 1px solid white; box-sizing: border-box;}

#topic-add-modal { position: absolute; z-index: 100; top: calc(50% - 250px); left: calc(50% - 125px); }
#display { width: 100%; height: 100%; position: absolute; z-index: 99; background-color: black; opacity: 0.5;  }
#display:hover { cursor: pointer; }